<article class="article-container docs" id="docs-container">
  {% assign kw = params.q %}
  {% assign tag_name = params.tag %}

  {% if kw != blank or tag_name != blank %}
    {% if tag_name != blank and kw != blank %}
      {% assign search_kw = tag_name | append: ' ' | append: kw %}
    {% elsif tag_name != blank %}
      {% assign search_kw = tag_name %}
    {% else %}
      {% assign search_kw = kw %}
    {% endif %}
    {% search site.pages, keywords: search_kw %}
      {% paginate_tag search.pages, per: 10 %}
        {% if paginate.total_count > 0 %}
          {% for item in search.pages %}
            <div class="docs-body">
              <a href="{{ item.path }}" class="docs-a"><h2 class="docs-h">{{ item.link_text }}</h2></a>
              <p class="docs-p">{{ item.settings.description }}</p>
              <time class="docs-t">{{ item.seo_description | default: item.settings.date }}</time>
            </div>
          {% endfor %}
        {% else %}
          <div class="docs-body"><p class="docs-p">暂无文章</p></div>
        {% endif %}

        <footer class="docs-footer" id="docs-footer">
          {% if paginate.total_pages > 1 %}
            {% render 'paginate', paginate: paginate %}
          {% endif %}
          <p class="end-tip" id="docs-end-tip" style="display:none;">故事暂且讲到这里</p>
        </footer>
      {% endpaginate_tag %}
    {% endsearch %}
  {% else %}
    <div class="docs-body"><p class="docs-p">暂无文章</p></div>
    <footer class="docs-footer" id="docs-footer">
      <p class="end-tip" id="docs-end-tip" style="display:none;">故事暂且讲到这里</p>
    </footer>
  {% endif %}
</article>

{% schema %}
  {
    "name": "搜索",
    "description": "站点搜索页",
    "settings": []
  }
{% endschema %}
