{% assign current_page = page %}
{% assign showcase_sections = page.parent.children | sort: "published_at" %}

<article class="article-container showcase">
  <nav class="showcase-nav">
    {% for section in showcase_sections %}
      <a href="{{ section.path }}" class="{% if section.path == current_page.path %}active{% endif %}">
        <span>{{ section.link_text }}</span>
      </a>
    {% endfor %}
  </nav>

  {% if page.content != blank %}
    <section class="article-copy">
      {{ page.content }}
    </section>
  {% endif %}
</article>